<section>
  <div class="container">
    <div class="container-warp">
      <i class="material-icons icon">
        storefront
      </i>
      <div class="title">
        <p>Tun<span>Q</span><br>Merchant</p>
      </div>
      <div class="group-input">
        <div class="text-input">
          <i class="material-icons icon-user">person</i>
          <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div class="text-input">
          <i class="material-icons icon-password">lock</i>
          <input type="password" name="password" id="password" placeholder="password">
        </div>
      </div>
      <div class="group-btn">
        <button style="background: rgb(52, 53, 52);">ลืมรหัสผ่าน</button>
        <button style="background: rgb(73, 206, 73);">เข้าสู่ระบบ</button>
      </div>
    </div>
  </div>
</section>
